/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Avrom Farm custom styles
   ========================================================================== */

/* ----------------
   Generic elements
   ---------------- */

:root {
  --afp-red: #F24307;
  --afp-blue: #0069C6;
  --afp-green: #01AD70;
  --afp-black: #0F0A0A;
  --border-radius: 0.25rem;
  --larger-font-size: 1.3rem;
}

html {
  color: var(--afp-black);
  font-size: calc(0.9em + 0.7vw);
  line-height: 1.4;
  font-family: sans-serif;
  overflow-x: hidden; /* Sort of a hack for the header veggies positioning */
  scroll-behavior: smooth;
}

body {
  font-family: 'franklin-gothic-urw';
  overflow-x: hidden; /* Sort of a hack for the header veggies positioning */
}

h3 {
  font-size: 1.8rem;
  font-family: 'maple-web';
  text-align: center;
}

h4 {
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block; /* So that border doesn't stretch full width of parent */
  padding-bottom: 0.1em;
  border-bottom: 0.125rem solid var(--afp-black);
  margin: 0;
}

h5 {
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 0.2em solid currentcolor;
  display: inline-block;
  padding-bottom: 0.2em;
  color: var(--afp-green);
}

#about h5 + p {
  margin-top: 0.4em;
}

p, nav {
  padding-bottom: 0.1em; /* To compensate for bigger natural top margin */
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--afp-black);
}

::selection {
  background: var(--afp-black);
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: var(--afp-black);
  color: #fff;
  text-shadow: none;
}

.button, input[type="submit"] {
  background-color: hsl(208, 100%, 39%);
  color: #fff;
  font-weight: bold;
  padding: 0.66em 0.88em;
  border-radius: var(--border-radius);
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.1s, transform 0.1s;
}

.button:hover, input[type="submit"]:hover {
  background-color: hsl(208, 100%, 34%);
}

.button:active, input[type="submit"]:active {
  transform: translateY(0.1em);
}

/* ----------------
   Reusable classes
   ---------------- */

.logo {
  font-family: 'maple-web';
  font-weight: 900;
  line-height: 1.4em;
}

.logo ::selection, .logo ::-moz-selection {
  background: transparent;
}

.logo span {
  display: inline-block; /* So that transform works */
  padding: 0.3em 0.5em 0.2em;
  color: #fff;
  transition: transform 0.06s;
  cursor: pointer;
}

.logo span:hover {
  transform: scale(1.1);
}

.logo span:active {
  transform: scale(0.95);
}

.logo span:nth-child(1) {
  background: var(--afp-red);
}

.logo span:nth-child(2) {
  background: var(--afp-blue);
}

.logo span:nth-child(3) {
  background: var(--afp-green);
}

/* ------------------
   Frame of the house
   ------------------ */

header, footer, section {
  max-width: 92vw;
  box-sizing: border-box;
  margin: 1rem auto;
}

header {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
}

/* -------------
   Header styles
   ------------- */

header h1 {
  font-size: 0.8rem;
  text-align: left;
  z-index: 1;
  margin: 0;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto; 
}

/* ------------------------
   about section styles
   ------------------------ */

#about {
  text-align: center;
  font-weight: bold;
  font-size: var(--larger-font-size);
}

#about p {
  max-width: 780px;
  margin: 2em auto;
  font-size: 1.4em;
  line-height: 1.2em;
}

#about img {
  border-radius: var(--border-radius);
  max-width: 100%;
  max-height: 80vh;
  box-shadow: 0 0 2em rgba(0,0,0,0.1);
}

#about .photo-group {
  position: relative;
  display: inline-block;
  padding-right: 5vw;
}

#about .photo-group img:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  max-height: 80%;
}

#about .photo-group.veggie {
  padding-right: 16vw;
}

#about .photo-group.veggie:after {
  content: "";
  display: block;

  width: 12vw;
  height: 100%;

  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  max-width: 15vw;
  max-height: 80%;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/veggies/special-veggies/veggie-special-1.jpg);
  background-position: center center;

  animation: veggie-dance 0.5s steps(2) infinite alternate;
}

/* fix this weird selector */
#about .photo-group.veggie:nth-of-type(3):after {
  background-image: url(../assets/veggies/special-veggies/veggie-special-2.jpg);
}

/* fix this weird selector */
#about .photo-group.veggie:nth-of-type(4):after {
  background-image: url(../assets/veggies/special-veggies/veggie-special-3.jpg);
}

/* To put the veggie on the left instead */
#about .photo-group.veggie:nth-of-type(2n-1) {
  padding-right: initial;
  padding-left: 16vw;
}

/* To put the veggie on the left instead */
#about .photo-group.veggie:nth-of-type(2n-1):after {
  right: initial;
  left: 0%;
}

#about .photo-group.veggie + .photo-group.veggie {
  margin-top: -4vh; /* To make them overlap */
}

#about .photo-group.veggie img {
  max-width: 50vw;
}

#about .logo {
  font-size: 0.65em;
  position: relative;
  top: -0.15em;
}

/* ----------------------
   Intro section styles
   ---------------------- */

#intro p {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

#intro p.lineup {
  /* font-size: 1.2em;
  line-height: 1.4em; */
}

#intro p.lineup a {
  text-decoration: none;
}

#intro p.lineup a:nth-of-type(n) {
  color: var(--afp-red);
}

#intro p.lineup a:nth-of-type(2n) {
  color: var(--afp-blue);
}

#intro p.lineup a:nth-of-type(3n) {
  color: var(--afp-green);
}

#intro img {
  box-shadow: 0 0 2em rgba(0,0,0,0.2);
  animation: twinkle 4s alternate-reverse infinite;
  margin: 1em 0;
  border-radius: var(--border-radius);
  max-width: 100%;
  max-height: 80vh;
}

/* ----------------------
   Lineup section styles
   ---------------------- */

#lineup {
  text-align: left;
  font-weight: bold;
  font-size: var(--larger-font-size);
}

#lineup h5 {
  color: var(--afp-black);
  margin-bottom: -2em;
}

#lineup p {
  text-align: center;
  font-style: italic;
}

#lineup ul {
  list-style: none;
  padding: 0;
}

#lineup ul span {
  display: none; /* Hide the list item dividers; see breakpoint style */
}

#lineup ul br {
  display: none; /* Hide the list item line breaks; see breakpoint style */
}

#lineup ul li {
  display: inline;
  white-space: nowrap;
}

#lineup ul li:after {
  content: "•";
  padding: 0 0.125em 0 0.25em;
  opacity: 0.2;
}

#lineup ul li a {
  text-decoration: none;
}

#lineup ul li:nth-of-type(n) a {
  color: var(--afp-red);
}

#lineup ul li:nth-of-type(2n) a {
  color: var(--afp-blue);
}

#lineup ul li:nth-of-type(3n) a {
  color: var(--afp-green);
}

/* ----------------------
   Tickets section styles
   ---------------------- */

#tickets {
  margin-top: 4em;
}

#tickets .form-area {
  background-color: moccasin;
  padding: 0;
  border-radius: var(--border-radius);
}

#tickets .form-area > div {
  padding: 4vw;
}

#tickets .form-area > div:first-child {
  border-bottom: 0.0625rem solid rgba(15,10,10,0.1); /* Setup for breakpoint style */
}

#tickets .form-area ul {
  padding-left: 1em;
}

#tickets .form-area li {
  margin: 0.25em 0;
}

#tickets .form-area label, #tickets .form-area div.label {
  display: block; /* To cause line break */
  font-weight: bold;
  margin-bottom: 0.5em;
}

#tickets .form-area fieldset {
  margin-bottom: 1em;
}

#tickets .form-area fieldset p {
  font-size: 0.85em; /* Kind of a one-off font-size change */
  margin: 0.5em 0;
}

#tickets .form-area fieldset p:last-child {
  margin-bottom: 0;
}

#tickets .form-area #formError {
  color: red;
  display: none;
}

#tickets .form-area #formError a {
  color: inherit;
}

#tickets .selector {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  width: 100%;
  margin-bottom: 0.5em;
}

#tickets .selector .option {
  width: 33%;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide browser default radio button */
#tickets .selector .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#tickets .selector .option input:checked ~ .option-inner {
  background: var(--afp-blue);
  color: white;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.3);
}

#tickets .selector .option input:checked ~ .option-inner .save {
  color: lightgreen;
}

#tickets .selector .option-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background: rgba(0,0,0,0.1);
  transition: all 0.1s;
  padding: 1em 0.5em;
  font-weight: bold;
  border: 0.1em solid rgba(0,0,0,0.1);
}

#tickets .selector .option-inner .price {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 0.35em;
}

#tickets .selector .option-inner .save {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 0.35em;
  transition: all 0.1s;
}

#tickets .quantity-selector {
  font-size: 2em;
  width: 3em;
  font-weight: bold;
  position: relative;
  top: -0.05em;
}

#tickets .checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 1em 0 0;
  padding-left: 1.8em;
  font-weight: normal !important;
}

#tickets .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#tickets .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background: white;
  border: 0.1em solid var(--afp-black);
}

#tickets .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#tickets .checkbox-container input:checked ~ .checkmark {
  background: var(--afp-blue);
}

#tickets .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

#tickets .checkbox-container .checkmark:after {
  left: 0.32em;
  top: 0.05em;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(40deg);
}

/* -------------
   Footer styles
   ------------- */

/* Select all but the last nav <a> */
footer nav a:not(:last-child) {
  margin-right: 0.4em;
}

footer small {
  font-size: 0.7em; /* A one-off font-size */
  color: hsl(0,0%,60%);
}

/* -------------------
   Success page styles
   ------------------- */

#success header:after {
  content: "";
  display: none;
}

/* ----------
   Animations
   ---------- */

@keyframes twinkle {
  0% {
    filter: saturate(90%);
    transform: rotateY(7deg);
  }
  
  50% {
    filter: saturate(50%);
  }
  
  100% {
    filter: saturate(120%);
    transform: rotateY(0deg);
  }
 }

/* -----------------
   Breakpoint styles
   ----------------- */

/* On screens wider than 700px… */
@media only screen and (min-width: 700px) {
  #lineup ol span {
    display: initial;
  }

  #lineup ol br {
    display: initial;
  }

  #tickets .form-area {
    display: flex;
    font-size: 0.85rem; /* Sorta one-off */
  }

  #tickets .form-area > div:first-child {
    flex-basis: 55%;
    border-right: 0.0625rem solid rgba(15,10,10,0.1);
    border-bottom: none;
  }

  #tickets .form-area > div:nth-child(2) {
    flex-basis: 45%;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
