<!doctype html>
<html lang="en-US" class="bg-gray-100 font-sans text-[calc(1.1em_+_0.25vw)] selection:bg-afp-red selection:text-white scroll-smooth">
<head>
	<meta charset="utf-8">

	<title>{{ site.meta_title }}</title>
	
	<!-- Define page stuff -->
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link id="favicon" rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/assets/stylesheets/distro/output.css">
	
	<!-- Import Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	
	<!-- Social media tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.social_description }}">
	<meta name="twitter:image" content="{{ site.url }}/assets/afp23-1.jpg">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:title" content="Avrom Farm Party 2026">
	<meta property="og:description" content="{{ site.social_description }}">
	<meta property="og:image" content="{{ site.url }}/assets/afp23-1.jpg">
	
	<!-- Plausible Analytics -->
	{% if plausible_domain != blank %}<script defer data-domain="{{ site.plausible_domain }}" src="https://plausible.io/js/script.js"></script>{% endif %}
</head>

<body class="px-4 py-8 sm:p-8 space-y-16">
	<header class="flex justify-between items-center">
		<div>
			<h1 class="sr-only">{{ site.title }}</h1>
			<h2 class="sr-only">{{ site.description }}</h2>
			<a href="{{ site.url }}"><img src="{% link assets/afp-blocks.svg %}" class="max-w-[120px]" alt="Avrom Farm Party logo"></a>
		</div>
		<nav class="flex gap-4 items-center text-[0.8em]">
			<a href="#blog">Blog</a>
			<a href="#about">About</a>
			<a href="#tickets" class="button">Tickets</a>
		</nav>
	</header>
	
	<main class="space-y-8">
		{{ content }}
	</main>
	<footer class="border-t-2 pt-8 border-black/10 border-dashed text-center text-[0.8em] space-y-4">
		<nav class="flex gap-2 items-center justify-center">
			<a href="mailto:{{ site.email }}?subject=Website inquiry" class="">Contact Us</a>
			<a href="mailto:{{ site.email }}?subject=Sponsoring Avrom Farm Party" class="">Sponsor Us</a>
			<a href="https://www.instagram.com/{{ site.instagram }}/" class="">Instagram</a>
		</nav>
		
		<p class="max-w-screen-sm mx-auto">Green Lake is located on the ancestral land of the Ho-Chunk Nation. Wisconsin is home to and stewarded by many Native peoples including Menominee, Anishinaabe, Potawatomi, and Oneida.</p>
	</footer>
</body>
</html>
